<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>King's Queen</h1>
        <h1>Anushka and Virat had reportedly first met while shooting for a shampoo ad in 2013. 
            Over the next couple of years, the two kept their relationship under wraps, but were often spotted together in public. 
            In 2017, they surprised the country with the news that they had gotten married in Tuscany, Italy. Soon photos and videos from their intimate, under-the-radar wedding were all over social media.
            The actor and cricketer had gotten married on December 11, 2017.</h1>
        <a href="{% url 'virat' %}"><h1>My Husband</h1></a>



    </center>
</body>
</html>